*{
    margin: 0;
}
header{
    background-color: aqua;
    height: 60px;

}
header h1{
    float: left;
    margin: 20px;

}
header img{
    float:right;
    height: 60px;
    width: 60px;
    margin: 20px;
    margin-top: -0.1%;
}
#slidebar ul{
    list-style-type: none;
    margin-left: -40px;


}
#slidebar ul li{
    font-size: 18px;
    line-height: 35px;
    padding: 10px;
}
#sidebar li:hover {background-color: white; color:darkred;}